[Unit]
Description=Sync MediaTemp Files from Remote Server
After=network-online.target mnt-Media.mount
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/sync-mediatemp.sh
